.p {
    color: rgb(179, 179, 179);
    font-size: 17px;
}

.aboutUsRight{
    margin-top: 20px;
}


@media screen and (max-width: 640px) {
    .aboutUs{
        font-size: 13px;
    }
    .aboutUsRight{
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width: 641px) and (max-width: 768px) {
    .aboutUsRight{
        margin-top:30px;
    }
}