.checkOutArrow{
    top:-70px;
    right:450px
}

.checkOutArrow p{
    color: white;
    font-family: 'Caveat';
    font-size: 20px;
    transform: rotate(5deg);
}

.checkOutArrow img{
    width: 200px;
    height: 200px;
}


@media screen and (max-width: 640px) {
    .checkOutArrow p{
        font-size: 13px;
        transform: rotate(7deg);
    }
    .checkOutArrow img{
        width: 100px;
        height: 100px;
    }
    .checkOutArrow{
        top:-50px;
        right: 50px;
    }
    
}