.home{
    color: rgb(255, 255, 255);
    font-family:'Roboto'
}

.img{
    width: 300px;
}

.home h1{
    font-size: 150px;
    font-family:'Roboto'
}

.mathew {
    margin-top: -60px;
    color: grey;
}

.description{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    font-size: 20px;
    gap: 25px;
}

@media screen and (max-width: 640px) {
    .home h1{
        font-size: 65px;
    }
    .mathew {
        margin-top: -25px;
        margin-right: 2px;
    }
    .description{
        font-size: 13px;
        display: flex;
        flex-direction: column;
        gap: 0;
        margin-top: 15px;
    }
    .bar{
        display: none;
    }
}

@media screen and (min-width: 641px) and (max-width: 768px) {
    .home h1{
        font-size: 110px;
    }
    .mathew {
        margin-top: -43px;
        margin-right: 6px;
    }
    .description{
        font-size: 17px;
        display: flex;
        gap: 13px;
        margin-top: 15px;
    }
}