.logo{
    width: 70px;
}

.NameInMiddle{
    font-size: 30px;
}

#NameInMiddleBottom{
    margin-top: -20px;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.greenRound{
    animation: blink 1.8s infinite;
}

.p{
    font-size: 30px;
    font-family:'Roboto'
}


@media screen and (max-width: 640px) {
    .logo {
        width: 47px;
    }
    .NameInMiddle{
        font-size: 25px;
    }
    #NameInMiddleBottom{
        margin-top: -17px;
    }
    .openToWorkButton{
        width: 100px;
    }
    .openToWorkButton span{
        font-size: 9px;
        line-height: 1.2
    }
}